/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------- */
/* Colors           */
/* ---------------- */

:root {
  /* Custom Colors */
  --white: 0 0% 99%;
  --light-gray: 0 0% 85%;
  --less-dark-gray: 0 0% 27%;
  --dark-gray: 0 0% 16%;

  /* Font Weights */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  /* Font Sizes */
  --fs-200: 1rem;
  --fs-300: 1.125rem;
  --fs-400: 1.25rem;
  --fs-500: 1.5rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;
}

/* ---------------- */
/* Utility Classes  */
/* ---------------- */

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.bg-white {
  background-color: hsl(var(--white));
}

.bg-light-gray {
  background-color: hsl(var(--light-gray));
}

.bg-less-dark-gray {
  background-color: hsl(var(--less-dark-gray));
}

.bg-dark-gray {
  background-color: hsl(var(--dark-gray));
}

.text-white {
  color: hsl(var(--white));
}

.text-light-gray {
  color: hsl(var(--light-gray));
}

.text-less-dark-gray {
  color: hsl(var(--less-dark-gray));
}

.text-dark-gray {
  color: hsl(var(--dark-gray));
}

.fw-300 {
  font-weight: var(--fw-300);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}


/* ---------------- */
/* Layout           */
/* ---------------- */


/* Body element grid layout */
#body {
  grid-template-rows: min-content min-content;
  gap: 10%;
}

/* Header element grid layout */
#header {
  justify-items: center;
}

.theme-switch {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  justify-self: end;
  margin: 1rem;
  min-width: 45px;
  min-height: 45px;
  transition: 0.4s;
}

.theme-switch:hover {
  background-color: hsl(var(--less-dark-gray));
  color: hsl(var(--white));
}

.search-bar-container {
  align-items: center;
}

.unit-switch {
  border-radius: 50px;
  cursor: pointer;
  min-width: 50px;
  align-items: center;
  height: 55%;
}

.unit-switch button {
  align-self: center;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 28px;
  width: 28px;
  transition: transform 0.3s ease-in;
}

.city-input {
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  width: clamp(20vw, 25vw, 40vw);
}

.search-button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  min-height: 100%;
  transition: 0.4s;
}


/* Main element grid layout */
.main {
  grid-template-columns: 25rem 25rem;
  justify-content: center;
  align-items: start;
  opacity: 1;
  transition: opacity 1.25s ease-in;
  margin-inline: 5rem;
}

.main div {
  border-radius: 10px;
}

/* Pre POST request opacity */
.pre-post {
  opacity: 0;
}

.current-weather {
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  grid-row: span 2;
  gap: 0rem;
  padding: 2rem 4rem;
  height: 100%;
}

.weather-icon {
  width: clamp(60%, 20vw, 100%);
}

.current-conditions {
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  height: 100%;
  padding: 1rem 2rem;
}

.current-conditions p {
  justify-content: space-between;
}

.forecast {
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 0.5rem;
  height: 100%;
}

.forecast div img {
  width: 70%;
}

.day {
  justify-items: center;
  align-content: space-evenly;
  gap: 0;
  padding: 1rem;
}

.forecast-temperatures {
  flex-direction: column;
  align-items: center;
  gap: 0;
}


/* Dark mode styling */
.dark-mode {
  background-color: hsl(var(--less-dark-gray));
  color: hsl(var(--white));
}

.dark-mode-unit-switch {
  background-color: hsl(var(--white));
  color: hsl(var(--dark-gray));
}


/* Tablet sizing and layout */
@media (max-width: 768px) {
  :root {
    /* Font Sizes */
    --fs-200: 0.75rem;
    --fs-300: 0.84375rem;
    --fs-400: 0.9375rem;
    --fs-500: 1.125rem;
    --fs-600: 1.3125rem;
    --fs-700: 1.5rem;
    --fs-800: 1.875rem;
    --fs-900: 2.25rem;
  }

  .city-input {
    width: 100%;
  }

  .search-button {
    width: 40px;
  }

  .main {
    grid-template-columns: 40% 40%;
    margin: 0;
  }

  .current-weather {
    padding: 1rem 0;
  }

  .day {
    margin: 0;
    padding: 0.5rem 0;
  }
}


/* Mobile layout and styling */
@media (max-width: 480px) {
  :root {
    /* Font Sizes */
    --fs-200: 0.75rem;
    --fs-300: 0.84375rem;
    --fs-400: 0.9375rem;
    --fs-500: 1.125rem;
    --fs-600: 1.125rem;
    --fs-700: 1.3125rem;
    --fs-800: 1.3125rem;
    --fs-900: 1.5rem;
  }

  #body {
    gap: 0;
  }

  #header {
    gap: 0;
  }

  .weather-title {
    max-width: 80%;
    margin-bottom: 0.5rem;
  }

  .search-bar-container {
    width: 80%;
  }

  .city-input {
    width: 100%;
  }

  .search-button {
    width: 40px;
  }

  .main {
    grid-template-columns: 1fr;
    margin: 1rem 2rem 0rem 2rem;
  }

  .weather-icon {
    width: 40%;
    height: 100%;
  }
}


/* Layout at lower heights */
@media (max-height: 768px) {
  #header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    justify-content: center;
  }

  .search-bar-container {
    grid-column: span 2;
  }

  .weather-title {
    align-self: end;
    grid-column: 1 / span 2;
    grid-row: 1/2;
    margin-top: 1rem;
  }

  .theme-switch {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
  }
}
